@font-face
{
  font-family: Bebas;
  src: url(BebasNeue-Regular.ttf);
}

@font-face
{
  font-family:BebasStandard;
  src: url(bluehighwayrg.ttf);
}

body
{
	padding:0; 
	margin:0; 
	background-color:#272e36;
	overflow:hidden;
}
a
{
	margin:0;
}
a:link {
    color: #D55;
}

.smPush:hover
{
	background-color:#ffffff1A;
	animation:Blink 0.12s linear;
	
}

.mainControls
{
	float:left;
	margin-right:2px;
}

.goldenBebas
{
	color:#d4ca98; 
	font-family:Bebas;
}
.goldenBebasHighlight
{
	color:#b9ad6f;
	font-family:Bebas;
}
.success
{
	color:#98d498;
}
.error
{
	color:#d49898;
}

.gControl
{
	resize: none;
	
	font-family:Bebas;
	font-size:16px;
	
	position:relative;
	top:0px;
	
	border-style:solid;
	border-width:1px;
	border-color:#d4ca9844;
	border-radius:4px;
	
	background-color:#0006;
	color:#F4EaB8;
	overflow:hidden;
	
	padding:4px;
	margin-right:4px;
	
	transition:border-color 300ms;
}

.gControlIndentMod
{
	color:#937d56;
	background-color:#d4ca98;
	cursor:pointer;
}

.gControlIndentMod:hover:enabled
{
	color:#d4ca98;
	background-color:#937d56;
}

.gControlIndentMod:disabled
{
	color:#888;
	background-color:#aaa;
	cursor:default;
}

.gControlGenerujDiv
{
	overflow:hidden;
}

.gTextArea
{
	width:320px;
}

.gSocialTab
{
	position:relative; 
	width:96px; 
	height:40px; 
	float:left; 
}

.gSocialTabBorder
{
	border-right-style:dashed; 
	border-color:white; 
	border-width:1px;
}

.gSocialTabImage
{
	width:100%; 
	height:100%; 
	pointer-events: none;
}
#gSocialTabImageLogo
{
	position:relative;
	height:100%; 
	pointer-events: none;
	left:50%; 
	transform: translate(-50%, 0%);
}

textarea:hover
{
	border-color:#d4ca9884;
	transition:border-color 300ms;
}

.centerRelHorizontally
{
	left: 50%; 
	position: relative; 
	transform: translateX(-50%);
}
.centerRelVertically
{
	top: 50%; 
	position: relative; 
	transform: translateY(-50%);
}
.centerScreen
{
	left: 50%; top: 50%; 
	position: absolute; 
	transform: translate(-50%, -50%);
	min-width:720px;
}
.gWindow
{
	overflow:hidden;
	background-color:#363635EE;
	padding:16px;
	border-radius:8px;
	position:relative;
}
.bgOver
{
	position:relative;
}
.bgOverlay
{
	background-image:url("../Backgrounds/WhiteNoise.png");
	position:absolute; 
	height:100%;
	width:100%;
	left:0px;
	top:0px;
	pointer-events: none; 
	mix-blend-mode: multiply;
	user-select: none;
	z-index: 0;
}
.bgOverlay_4
{
	opacity: 0.04;
}
.bgOverlay_6
{
	opacity: 0.06;
}
.labelAdjust
{
	position:relative; 
	top:6px;
}
.Block
{
	position:relative; 
	display:block;
}
.controlRow
{
	position:relative; 
	display:block;
	overflow:hidden;
	margin-bottom:4px;
}
.maximizeHorizontally
{
	width:100%;
}
.controlBlock
{
	position:relative; 
	display: block; 
	overflow:hidden;
}
.controlInline
{
	position:relative; 
	display:inline-block; 
	overflow:hidden;
}
.optionBackground
{
	background-color:#444;
}
#BackgroundImage
{
	pointer-events: none; 
	position:absolute; 
	width:100%; 
	height:100%; 
	filter: blur(4px); 
	mix-blend-mode: luminosity;
	user-select: none;
}
#Title
{
	font-size:64px;
	user-select: none;
	pointer-events: none; 
}
#outputWaveformDiv
{
	background-color:#0005;
	border-color:#777;
	border-left-color:#AAA;
	border-right-color:#AAA;
	border-style:none;
	border-width:1px;
	border-left-width:4px;
	border-right-width:4px;
	position:relative;
}
#gStandardGeneratorForm
{
	position:relative; 
	overflow:auto; 
	display:inline-block;
}
#gFooterNotice
{
	left:0px;
	bottom:0px;
	position:absolute;
	overflow:hidden;
	width:100%;
	background-color:#161615DD;
	padding:12px;
}
.smallHeader
{
	color:#F4EaB8;
	font-size:24px;
}
.underHeaderBody
{
	font-size:14px;
	font-family:BebasStandard;
	margin-left:8px;
	margin-top:4px;
}
#footerButtonContainer
{
	margin-top:12px;
}
.footerButton
{
	background-color:#000;
	color:#fff;
	display:inline-block;
	padding:8px;
	width:140px;
	margin-right:16px;
	cursor:pointer;
	border-radius:8px;
	border-width:0;
	text-align:center;
	font-family:BebasStandard;
}
.footerButton:hover
{
	background-color:#222;
}

.adSideL
{
	position:absolute;
	left:0px;
}

.adSideR
{
	position:absolute;
	right:0px;
}
#socialLinkContainer
{
	margin-top:4px;
	width:678px;
}
#gFooterContactInfo
{
	position:absolute;
	bottom:0px;
	left:50%;
	transform: translateX(-50%);
	width:100%;
	text-align:center;
}
#InfoButton
{
	position:absolute;
	top:0px;
	right:-4px;
	transform: translate(100%, 0%);
	background-color:#0000;
	padding:0px;
	border:0px;
}
#InfoButtonTextContainer
{
	display:none;
	width:280px;
	padding:10px;
	margin-top:4px;
	border-radius:4px;
	
	color:#EEE;
	background-color:#0005;
	
	font-family:BebasStandard;
	font-size:12px;
}

@keyframes Blink { 0% {background-color:#ffffff33;} 100% { background-color:#ffffff1A; } }